/* Todo site */
* {
    font-family: 'Roboto';
}

body {
    align-items: center;
    background-color: #f5f5f5;
}

body .camp-form {
    margin-top: 30vh;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .sr-only {
    font-size: 20px;
    font-weight: 600;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input{
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-logout button a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    margin-bottom: 30px;
}

.form-only {
    margin: 10px 0;

}

.form-only input {
    font-size: 14px;
    margin-bottom: 8px;

}

/* footer */
footer {
    text-align: center;
    background-color: #353e48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
